.agsjsTOCNode {
    padding-top: 0px;
    padding-bottom: 1px;
}

.agsjsTOCContent {
    white-space: nowrap;
}
.agsjsTOCOutOfScale {
  color: grey;
  opacity: 0.5;
}
.agsjsTOCLayer {
    /*background-color: #A9D0F5*/
}

.agsjsTOCLayerLabel {
    font-size: 11pt;
    font-weight: bold;
}

.agsjsTOCGroupLayer {
   /* background-color: #CEE3F6 */
  font-weight: bold;
}

.agsjsTOCGroupLayerLabel {
    font-size: 10pt;
}
.agsjsTOCGroupLayer {
  font-weight: bold;
}
.agsjsTOCGroupOn {
   opacity: 1;
}

.agsjsTOCGroupOff {
   opacity: 0.5;
}


.agsjsTOCSubLayerLabel {
    font-size: 10pt;
}

.agsjsTOCLegendIcon {
   /* width: 50px;*/
}

.agsjsTOCLegendLabel {
    font-size: 8pt;
}

.agsjsTOCSlider {
  padding:5px 20px 5px 30px;
}
