.agsTOCNode {
    padding-top: 0px;
    padding-bottom: 1px;
}

.agsTOCContent {
    white-space: nowrap;
}
.agsTOCOutOfScale {
  color: grey;
  opacity: 0.5;
}
.agsTOCService {
    /*background-color: #A9D0F5*/
}

.agsTOCServiceLabel {
    font-size: 11pt;
    font-weight: bold;
}

.agsTOCGroup {
   /* background-color: #CEE3F6 */
}
.agsTOCSlider {
  padding:5px 20px 5px 30px;
}

.agsTOCGroupLabel {
    font-size: 10pt;
}

.agsTOCLayerLabel {
    font-size: 10pt;
}

.agsTOCLegendIcon {
   /* width: 50px;*/
}

.agsTOCLegendLabel {
    font-size: 8pt;
}